---
---

@import "{{ site.theme }}";

.wrapper_wide { 
	width: 95%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.section_wide { width: 73%; float: right; padding-bottom: 50px; }
