---
---

@import "{{ site.theme }}";

.wrapper {
  width: 20%;
  max-width: 200px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:100%;
  float:right;
  padding-bottom:50px;
  margin:0 auto;
}
