---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  max-width: 1366px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:80%;
  padding-bottom:50px;
}
